<nav class="navbar">
    <ul>
        <li>Music</li>
        <li class="songlist">PlayList</li>
    </ul>
</nav>

<ul class="songlisthidden">
    <li>
        <div class="songItem">
            <span class="number">01</span>
            <span><i id="0" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
            <img src="../../assets/song1.jpg" alt="song image" width="60px" >
            <span>
                <span class="title">Shape of you</span>
            </span>
        </div>

    </li> 
    <li>
        <div class="songItem">
            <span class="number">02</span>
            <span><i id="1" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
            <img src="../../assets/song2.jpg" alt="song image" width="60px" >
            <span>
                <span class="title">Believer </span>
            </span>
        </div>

    </li>
    <li>
        <div class="songItem">
            <span class="number">03</span>
            <span><i id="2" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
            <img src="../../assets/song3.jpg" alt="song image" width="60px" >
            <span>
                <span class="title">Kelly Clarkson - Stronger</span>
            </span>
        </div>

    </li>
    <li>
        <div class="songItem">
            <span class="number">04</span>
            <span><i id="3" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
            <img src="../../assets/song4.jpg" alt="song image" width="60px" >
            <span>
                <span class="title">Journey - Donot Stop Believin</span>
            </span>
        </div>

    </li>
    <li>
    <div class="songItem">
        <span class="number">05</span>
        <span><i id="4" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
        <img src="../../assets/song5.jpg" alt="song image" width="60px" >
        <span>
            <span class="title">Believe</span>
        </span>
    </div>

</li>
<li>
    <div class="songItem">
        <span class="number">06</span>
        <span><i id="5" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
        <img src="../../assets/song6.jpg" alt="song image" width="60px" >
        <span>
            <span class="title">Meant for Your</span>
        </span>
    </div>

</li>
<li>
    <div class="songItem">
        <span class="number">07</span>
        <span><i id="6" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
        <img src="../../assets/song2.jpg" alt="song image" width="60px" >
        <span>
            <span class="title">The Courage to Push Through</span>
        </span>
    </div>

</li>
<li>
    <div class="songItem">
        <span class="number">08</span>
        <span><i id="7" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
        <img src="../../assets/song3.jpg" alt="song image" width="60px" >
        <span>
            <span class="title"> Donot Worry Be Happy</span>
        </span>
    </div>

</li>
<li>
    <div class="songItem">
        <span class="number">09</span>
        <span><i id="8" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
        <img src="../../assets/song4.jpg" alt="song image" width="60px" >
        <span>
            <span class="title">Blessed</span>
        </span>
    </div>

</li>
<li>
    <div class="songItem">
         <span class="number">10</span>
         <span><i id="9" class="songItemPlay fa fa-2x fa-play-circle" aria-hidden="true" style="padding:0px 4px;" ></i></span>
         <img src="../../assets/song5.jpg" alt="song image" width="60px" >
            <span>
                <span class="title">Walk Alone</span>
             </span>
        </div>

    </li>

</ul>


<div class="row">
    <!-- 1st column -->
    <div class="column playlist column1" >

            <h1>PlayList</h1>
                <ul class="sidebar">
                    <li>
                        <div>
                            <span class="number">01</span>
                            <span><i id="0" class="songItemPlay  fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                            <img src="../../assets/song1.jpg" alt="song image" width="60px" >
                            <span>
                                <span class="title">Shape of you</span>
                            </span>
                        </div>
            
                    </li> 
                    <li>
                        <div>
                            <span class="number">02</span>
                            <span><i id="1"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                            <img src="../../assets/song2.jpg" alt="song image" width="60px" >
                            <span>
                                <span class="title">Believer </span>
                            </span>
                        </div>
            
                    </li>
                    <li>
                        <div>
                            <span class="number">03</span>
                            <span><i id="2"  class=" songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                            <img src="../../assets/song3.jpg" alt="song image" width="60px" >
                            <span>
                                <span class="title">Kelly Clarkson - Stronger</span>
                            </span>
                        </div>
            
                    </li>
                    <li>
                        <div>
                            <span class="number">04</span>
                            <span><i id="3"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                            <img src="../../assets/song4.jpg" alt="song image" width="60px" >
                            <span>
                                <span class="title">Donot Stop Believin</span>
                            </span>
                        </div>
            
                    </li>
                    <li>
                    <div>
                        <span class="number">05</span>
                        <span><i id="4"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                        <img src="../../assets/song5.jpg" alt="song image" width="60px" >
                        <span>
                            <span class="title">Believe</span>
                        </span>
                    </div>
            
                </li>
                <li>
                    <div>
                        <span class="number">06</span>
                        <span><i id="5"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                        <img src="../../assets/song6.jpg" alt="song image" width="60px" >
                        <span>
                            <span class="title">Meant for Your</span>
                        </span>
                    </div>
            
                </li>
                <li>
                    <div>
                        <span class="number">07</span>
                        <span><i id="6"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                        <img src="../../assets/song2.jpg" alt="song image" width="60px" >
                        <span>
                            <span class="title">The Courage to Push</span>
                        </span>
                    </div>
            
                </li>
                <li>
                    <div>
                        <span class="number">08</span>
                        <span><i id="7"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                        <img src="../../assets/song3.jpg" alt="song image" width="60px" >
                        <span>
                            <span class="title">Donot Worry Be Happy</span>
                        </span>
                    </div>
            
                </li>
                <li>
                    <div>
                        <span class="number">09</span>
                        <span><i id="8"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                        <img src="../../assets/song4.jpg" alt="song image" width="60px" >
                        <span>
                            <span class="title">Blessed</span>
                        </span>
                    </div>
            
                </li>
                <li>
                    <div>
                         <span class="number">10</span>
                         <span><i id="9"  class="songItemPlay fa fa-3x fa-play-circle" aria-hidden="true" style="padding:0px 4px;vertical-align: middle;" ></i></span>
                         <img src="../../assets/song5.jpg" alt="song image" width="60px" >
                            <span>
                                <span class="title">Walk Alone</span>
                             </span>
                        </div>
            
                    </li>
               
                </ul>
    </div>

    <!-- 2nd column -->
    <div class="column largeimg column2 ">
        <p id="masterSongName">Shape of you</p>
            <img id="rorateid" src="../../assets/round-music1.jpg" alt="song image"  class=" cenimg">
            <input id="myProgressBar" type="range" min="0" max="100" value="0">
            <ul >
                
                <li><i class="fa fa-3x fa-step-backward" aria-hidden="true" id="previous"></i></li>
                <li><i class="fa fa-3x fa-play-circle" aria-hidden="true" id="masterPlay" ></i></li>
                <li><i class="fa fa-3x fa-step-forward" aria-hidden="true" id="next"></i></li>
                
            </ul>
    </div>
  </div>

  